---
import Layout from "@layouts/Layout.astro";
---

<Layout title="About Tie">
  <div class="wrapper">
    <h1>About Me</h1>
    <p>I have nothing to say.</p>
  </div>
</Layout>

<style>
  .wrapper {
    max-width: 1200px;
    flex-grow: 1;
  }
</style>
