---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Tie's Contact Info">
  <div class="wrapper">
    <h1>Tie's Contact Info</h1>
    <p>Don't contact me.</p>
  </div>
</Layout>

<style>
  .wrapper {
    max-width: 1200px;
    flex-grow: 1;
  }
</style>
