---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Tie's Thoughts">
  <div class="wrapper">
    <h1>Welcome to my page</h1>
    <p>This is my personal page for testing</p>
  </div>
</Layout>

<style>
  .wrapper {
    max-width: 1200px;
    flex-grow: 1;
  }
</style>
