---
import BlogList from "../../components/BlogList.astro";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
const blogs = await getCollection("blogs");
console.log("🚀 ~ blogs:", blogs);
---

<Layout title="Portfolio">
  <h1>Portfolio</h1>
  <p>Nothing to show right now.</p>
</Layout>

<style></style>
