---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Portfolio">
  <div class="wrapper">
    <h1>Portfolio</h1>
    <p>Nothing to show right now.</p>
    <ul>
      <li><a href="/portfolio/left-nav-test">Left Nav Test</a></li>
    </ul>
  </div>
</Layout>

<style>
  .wrapper {
    max-width: 1200px;
    flex-grow: 1;
  }
</style>
